<div class="d-flex justify-content-between align-items-center py-3 px-4 bg-white mb-2">
  <%= link_to root_path do  %>
    <%= image_tag("snowoctocat.png", :size => "89x89") %>
  <% end %>

  <h1 class="container d-flex justify-content-between">Github Index</h1>
</div>
