---
http_interactions:
- request:
    method: post
    uri: https://api-ssl.bitly.com/v4/shorten
    body:
      encoding: UTF-8
      string: '{"long_url":"https://github.com/matz"}'
    headers:
      Authorization:
      - Bearer 9c1aa9d5dfc2db247bcebd68c07a5ca4ee0d3589
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"created_at":"2022-11-15T23:14:40+0000","id":"bit.ly/3V0uvFX","link":"https://bit.ly/3V0uvFX","custom_bitlinks":[],"long_url":"https://github.com/matz","archived":false,"tags":[],"deeplinks":[],"references":{"group":"https://api-ssl.bitly.com/v4/groups/BmbfmcMIXtd"}}'
  recorded_at: Fri, 18 Nov 2022 17:35:51 GMT
recorded_with: VCR 6.1.0
